<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application Scene Manifest</key>
	<dict>
		<key>Enable Multiple Windows</key>
		<false/>
		<key>Scene Configuration</key>
		<dict>
			<key>Window Application Session Role</key>
			<array>
				<dict>
					<key>Configuration Name</key>
					<string>Default Configuration</string>
					<key>Delegate Class Name</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>Storyboard Name</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
